@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Landscape / Desktop */
@media only screen and (min-width: 750px) {
	.portrait {
		display: none;
	}

	button.menuButton {
		height: 3em;
		width: 3em;
	}
}

/* Portrait / Mobile */
@media only screen and (max-width: 749px) {
	.landscape {
		display: none;
	}

	button.menuButton {
		height: 5em;
		width: 5em;
	}	
}

:root {
	--primary-color: #fff;
	--secondary-color: #eee;
	--tertiary-color: #aaa;
}

#createPost {
	background-color: var(--primary-color);
	bottom: 0.5em;
	border-radius: 2em;
	box-shadow: 0 5px 10px 1px var(--tertiary-color);
	font-size: 2em;
	height: 2em;
	padding: 0;
	position: fixed;
	right: 0.5em;
	width: 2em;
	z-index: 1;
}

#createPost a {
	color: inherit;
	text-decoration: none;
}

.subtitle {
	color: var(--tertiary-color);
	font-family: 'Readex Pro', sans-serif;
}

a.mention {
	background-color: #80bfff;
	border-radius: 5px;
	color: inherit;
	padding: 0.25em;
	text-decoration: none;
}

article {
	background-color: var(--secondary-color);
	border-radius: 5px;
	line-height: 1.5em;
	margin: 1em 0;
	padding: 1em;
	word-wrap: break-word;
}

article h4 {
	margin: 0.25em 0;
}

article img {
	border-radius: 5px;
	width: 100%;
}

article.notification {
	animation: fadeInOut 3s;
	background-color: black;
	border-radius: 10px;
	bottom: 1em;
	color: white;
	display: none;
	font-family: 'Readex Pro', sans-serif;
	font-size: 0.75em;
	height: 3em;
	left: calc(50% - 15ch);
	line-height: 3em;
	padding: 0;
	position: fixed;
	right: calc(50% - 15ch);
	text-align: center;
}

article.popup {
	animation: fadeIn 0.3s;
	box-shadow: 0 0 5px 0 var(--tertiary-color);
	display: none;
	height: 40ch;
	left: calc(50% - 25ch);
	position: fixed;
	right: calc(50% - 25ch);
	top: calc(50% - 20ch);
}

article.popup button {
	background-color: var(--primary-color);
}

body {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 0.5em;
}

button.menuButton {
	background-color: transparent;
}

code {
	background-color: var(--tertiary-color);
	border-radius: 5px;
	display: block;
	padding: 0.5em;
}

form {
	margin: 1em;
	text-align: center;
	width: calc(100% - 2em);
}

form * {
	margin: 0.5em 0;
}

form input {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
}

form label {
	font-family: 'Readex Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Readex Pro', sans-serif;
}

header {
	background-color: var(--primary-color);
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
}

header * {
	margin: 0.5em;
}

main {
	margin: 0 auto;
	max-width: 80ch;
	padding: 0 1em;
}

span.userRank {
	color: var(--tertiary-color);
	font-size: 0.75em;
	font-weight: lighter;
}

table.spaced {
	width: 100%;
}

table.spaced td {
	padding: 1em 0;
}

table.spaced td:last-child {
	text-align: right;
}