:root {
	--primary-color: #fff;
	--secondary-color: #eee;
}

article {
	background-color: var(--secondary-color);
	border-radius: 5px;
	margin: 1em 0;
	padding: 1em;
}

body {
	margin: 0;
	padding: 0;
}

button {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 0.5em;
}

form {
	margin: 1em;
	text-align: center;
	width: calc(100% - 2em);
}

form * {
	margin: 0.5em 0;
}

form input {
	background-color: var(--secondary-color);
	border: none;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center;
}

form label {
	font-family: 'Readex Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Readex Pro', sans-serif;
}

header {
	background-color: var(--primary-colour);
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	width: 100%;
}

header * {
	margin: 0.5em;
}

main {
	margin: 0 auto;
	max-width: 80ch;
	padding: 0 1em;
}